.btn {
	border-radius: 3px;
}

.btn-primary {
	color: #fff !important;
	background: $color__salmon;
    border: none;

	.faint {
		color: rgba(255,255,255,.5);
	}

	&:hover,
	&:focus,
	&:active {
		color: #fff!important;
		background: $color__darker_salmon;
	}
}

.btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
	color: #fff!important;
	background: $color__darker_salmon;
}

.btn-outline-primary{
	color: $color__salmon !important;
	background-color: transparent;
	border-color: $color__salmon;

	.faint {
		color: rgba(255,255,255,.5);
	}

	&:hover,
	&:focus,
	&:active {
		color: #fff!important;
		background: $color__darker_salmon;
		border-color: $color__darker_salmon;
	}
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .show > .btn-outline-primary.dropdown-toggle {
	color: #fff!important;
	background: $color__darker_salmon;
	border-color: $color__darker_salmon;
}
